:root {
    --color-1: #f2fffe;
    --color-2: #ff0090;
    --color-3: #16a34a;
    --gradient: linear-gradient(44deg, rgba(242, 255, 254, 1) 0%, rgba(181, 255, 255, 1) 50%, rgba(255, 199, 248, 0.9) 100%);
    --gradient-1: linear-gradient(45deg, rgba(255, 0, 144, 0.5) 0%, rgba(0, 247, 255, 0.5) 100%);
}